.products__item-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &-star {
    &-value {
      fill: gold;
    }
  }

  &-value {
    margin-left: 10px;
    font-size: 20px;
  }
}
