@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  background-color: var(--black);
  cursor: none;

  width: 100%;
  height: 100vh;

  --yellow: rgb(255, 215, 17);
  --black: rgb(19, 17, 17);
  --orange: rgb(255, 154, 13);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
a {
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 140%;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.5rem;
}

input {
  border: none;
  outline: none;
  padding: 5px 10px;
  background: none;
  border-bottom: 2px solid var(--yellow);
}

.wrapper {
  position: relative;
  width: 90%;
  margin: 0 5%;
}

.nav {
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  color: white;

  &__item {
    opacity: 0.5;

    transition: 0.4s ease;

    &:hover,
    &.active {
      opacity: 1;
    }
    &.active {
      pointer-events: none;
    }
  }
}

.title {
  text-align: center;
  color: var(--yellow);
  filter: drop-shadow(0px 3px 0px var(--black))
    drop-shadow(0px 0px 15px var(--orange));
}

.button {
  width: fit-content;
  position: relative;
  padding: 15px;
  border-radius: 15px;
  background: none;
  border: none;
  outline: none;
  color: var(--yellow);

  &:disabled {
    pointer-events: none;
    filter: grayscale(1);
  }

  svg {
    display: block;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: inherit;
    border: 2px solid var(--yellow);
    transition: 0.5s ease;
  }

  &::after {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 0;
  }
  &::before {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: 0;
  }

  &:hover {
    &::after {
      transform: translateX(-15px);
    }
    &::before {
      transform: translateX(15px);
    }
  }
}

.description {
  margin-top: 15px;
  text-align: center;
  color: var(--yellow);
}

#ngx-cursor {
  span {
    color: var(--black) !important;
    background: none !important;
    opacity: 0.6 !important;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40%;
      height: 40%;
      border: 2px solid white;
      border-bottom: none;
      border-left: none;

      transition: 0.3s ease;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 40%;
      border: 2px solid white;
      border-top: none;
      border-right: none;

      transition: 0.3s ease;
    }
  }

  &.active {
    span {
      opacity: 1 !important;
      transform: scale(1) !important;

      &::after {
        transform: rotate(-45deg) translateY(120%);
      }
      &::before {
        right: 50%;
        transform: rotate(135deg) translateY(-250%) translateX(150%);
      }
    }
  }
}

.wrapper.loading {
  pointer-events: none;

  #ngx-cursor {
    span {
      animation: loadingCursor 1s linear infinite;
      &::after {
        transform: rotate(180deg);
      }
      &::before {
        transform: rotate(180deg);
      }
      @keyframes loadingCursor {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}


.return-back {
  position: absolute;
  display: block;
  z-index: 99;

  top: 0;
  left: 0;
  background: none;
  outline: none;
  border: none;
  padding: 10px;

  svg {
    width: 40px;
    height: 40px;
    transform: scale(-1);
  }
  path {
    fill: var(--yellow);
  }
}